/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/



.btn1 {
	padding: 12px 20px;
	outline: none;
	font-size: 1.2em;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background: #337ab7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 1px;
	width: 100%;
	text-align:center;
}

.btn2 {
	padding: 12px 20px;
	outline: none;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background: #337ab7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 1px;
	width: 100%;
	text-align:center;
}


.btn1:hover {
	background: #3f444e;
	color: #fff;
	text-decoration: none;
}

.a_btn1:hover{
	text-decoration: none;
}

.a_btn1:hover:visited{
	text-decoration: none;
}


.a_btn1:hover:visited{
	text-decoration: none;
}

.btn2:hover {
	background: #3f444e;
	color: #fff;
	text-decoration: none;
}

.a_btn2:hover{
	text-decoration: none;
}

.a_btn2:hover:visited{
	text-decoration: none;
}

.a_btn2:visited{
	text-decoration: none;
}


/*--movie--*/

.movie-test-dark {
	background-color: #fff;
}

.movie-test {
	width: 50%;
	float: left;
	margin-bottom: 8px;
}

.movie-test-left .movie__images {
	float: left;
}

.movie-test .movie__images {
	width: 50%;
	border: none;
	position: relative;
}

.movie-test .movie-beta__link:after {
	content: '';
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	z-index: 19;
}

.movie-test .movie-beta__link:hover:after {
	background-color: rgba(255, 255, 255, 0.4);
}

.movie-test .movie__info {
	overflow: hidden;
	padding: 17px 17px;
	position: relative;
	margin: 0;
	background: #fff;
}

a.movie__title {
	color: #000;
	font-weight: 600;
	font-size: 1.1em;
}

.movie-test-right .movie__images {
	float: right;
}

ul.list_6 {
	padding: 0;
	margin: 0;
	list-style: none;
}

p.movie__option a {
	font-weight: 500;
	font-size: 1em;
	color: #000;
}

.movie_img {
	margin-bottom: 2em;
}

#flexiselDemo1,
#flexiselDemo3 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}

.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}

.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}

.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 350px;
	max-height: 500px;
}

.grid-flex {
	margin: 10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}

.nbs-flexisel-item a {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}

.nbs-flexisel-item a:hover {
	color: #555;
}

.nbs-flexisel-item p {
	color: #000;
	font-size: 0.85em;
	padding-top: 25px;
}

.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}


/*--single--*/

.images_3_of_2 {
	width: 37.2%;
	float: left;
	margin-right: 2.6%;
}

.span_3_of_2 {
	width: 59.3333%;
}

.desc1 {
	display: block;
	float: left;
}

.movie_image {
	position: relative;
	border: 2px solid #337ab7;
}

.movie_rating {
	width: 47px;
	height: 47px;
	padding-top: 10px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	background-color: #337ab7;
	border: solid 3px #fff;
	font: 16px 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: bold;
	position: absolute;
	top: 6px;
	left: 6px;
}

.movie_rate {
	position: relative;
	padding: 20px 17px 19px;
	border: 2px solid #337ab7;
	border-top: none;
	color: #4c4145;
}

.movie .movie__rate .score {
	display: inline-block;
	padding-left: 15px;
}

.rating_desc {
	float: left;
}

.rating_desc p {
	color: #000;
	font-size: 1.2em;
}


/**/


/* ratings */


/**/

.sky-form .rating {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
}

.sky-form .rating:last-child {
	margin-bottom: 0;
}

.sky-form .rating input {
	position: absolute;
	left: -9999px;
}

.sky-form .rating label {
	display: block;
	float: right;
	height: -4px;
	cursor: pointer;
}

.sky-form [class^="icon-"] {
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/images.jpg') 0 20px;
	float: left;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}


/**/


/* checked state */


/**/

.sky-form .radio input + i:after {
	background-color: #2da5da;
}

.sky-form .checkbox input + i:after {
	color: #2da5da;
}

.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #2da5da;
}

.sky-form .rating input:checked ~ label {
	color: #2da5da;
	background: url('../images/images.jpg') 0 -16px;
	display: -webkit-box;
}

p.movie_option {
	font-size: 15px;
	margin-bottom: 15px;
}

p.movie_option a {
	color: #555;
}

p.m_4 {
	color: #ffff;
	font-size: 1em;
	line-height: 1.8em;
	margin: 3em 0;
}

ul.single_list {
	margin-bottom: 30px;
	padding: 30px 0 0;
	list-style: none;
	margin: 0;
}

ul.single_list li {
	padding-bottom: 30px;
}

.title {
	color: #000;
	font-size: 1.1em;
	font-weight: 600;
	margin: 0 0 10px 0;
}

.title a {
	color: #000;
}

.title a:hover {
	color: red;
	text-decoration: none;
}

.list li {
	padding-bottom: 30px;
}

.data {
	float: left;
	width: 93.5%;
}

li.middle {
	padding: 0 0px 0 70px;
	margin-bottom: 30px;
}

li.last-comment {
	padding: 0 0px 0 140px;
	margin-bottom: 30px;
}

.data p,
.data-middle,
.data-last p {
	color: #999;
	font-size: 1em;
	line-height: 1.5em;
}

.preview {
	float: left;
	width: 5.5%;
	margin-right: 1%;
}

.data-middle {
	float: left;
	width: 92.5%;
}

.data-last {
	float: left;
	width: 92.5%;
}

.single h1 {
	color: #000;
	font-size: 25px;
	margin: 3em 0 0;
}

.form-submit1 input[type="submit"] {
	color: #FFF;
	font-size: 1.1em;
	font-weight: normal;
	padding: 10px 20px;
	text-transform: uppercase;
	background: #337ab7;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border: none;
	cursor: pointer;
	outline: none;
}

.form-submit1 input[type="submit"]:hover {
	background: #3f444e;
}

.video iframe {
	min-height: 180px;
}

.col-md-9.movie_box {
	margin-bottom: 2em;
}

.video {
	margin-bottom: 50px;
}

.content {
	padding: 1em;
}

/* codigo login */

.container_wrap{
	padding:5em 0;
}
.header_top{
	background: #fff;
padding:2em 1em 1.8em;
border-top-left-radius: 3px;
-webkit-border-top-left-radius: 3px;
-moz-border-top-left-radius: 3px;
-o-border-top-left-radius: 3px;
border-top-right-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-top-right-radius: 3px;
-o-border-top-right-radius: 3px;
}
.logo{
	margin-top: 4px;
}
/*---social-icons-----*/
.nav {
	text-align:center;
	
}
.nav ul{
	padding:0;
	margin:0;
	list-style:none;
}
.nav li{
	
	margin: 0px 4% 0px 0;
	display:inline-block;
}
.nav li a {
	height:30px;
	width:30px;
	display: block;
}
.nav li a:hover {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.8;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.col-sm-3.header_right {
	padding-left: 0;
}
.logo {
	margin:0 0 10px;
	text-align: center;
}

/*login*/
/*--login--*/
.login-left h3, .login-right h3 {
	color:#000000;
	font-size: 1.5em;
	
	
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color:#000000;
	display: block;
	font-size:1em;
	margin: 0 0 1.5em 0;
	line-height: 1.5em;
}
.acount-btn {
	background: #337ab7;
color: #FFF;
font-size: 1em;
padding: 7px 10px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
display: inline-block;
text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#3f444e;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #000000;
	font-size:0.95em;
	
	display: block;
	
}
.login-right input[type="text"], .login-right input[type="password"], .login-right input[type="email"] {
	border: 1px solid #E4E4E4;
	outline-color:#337ab7;
	width: 96%;
	font-size:0.8125em;
	padding:10px;
	-webkit-appearance: none;
}



.login-right input[type="submit"] {
	background: #d8232a;
	color: #FFF;
	font-size:1em;
	padding:7px 10px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.login-right input[type="submit"]:hover{
	background:#3f444e;
}
a.forgot {
	font-size: 0.85em;
color: #000;
}
h4.title {
	color: #000;
	margin-bottom: 0.5em;
	
	text-transform: uppercase;
	border-bottom: 1px solid #DFDDDD;
	padding-bottom: 13px;
}
p.cart {
	color: #999;
	line-height: 1.8em;
}

/* similares css */
i.icon5 {
width: 25px;
height: 25px;
float: left;
margin-right:0%;
}
.movie_img{
	margin-bottom:2em;
}

p.m_3{
	position: absolute;
top: -50px;
color: #fff;
font-size: 1.1em;
width: 100%;
text-align: center;
opacity: 0.9;
background-color: #000;
}
.caption1{
	position:relative;
}



ul.list_4{
	padding:1em;
}
ul.list_4 li, ul.list_6 li{
	color:#000000;
	
	font-weight: 600;
	font-size: 1.1em;
}
ul.list_4 li, ul.list_6 li{
	display:flex;
	line-height: 2em;
}
ul.list_5{
	position: absolute;
	top:-160px;
	left: 15px;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
ul.list_7{
	top:-208px;
}

